@mixin field {
    padding: 12px;
  
    background: var(--bg-color);
    border: 1px solid var(--primary-color-variants);
    border-radius: 4px;
  
    &:focus-visible {
      border: 1px solid var(--secondary-color);
    }
}

