@mixin field {
    padding: 11px;

    color: var(--text-color);

    background: var(--inverted-bg-color-variants);
    border: 1px solid var(--primary-color-variants);
    border-radius: 4px;
  
    &:focus-visible {
      border: 1px solid var(--secondary-color);
    }

    &:disabled {
      background-color: var(--secondary-color-light);
    }
}

@mixin form-control-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
};
