.dark {
    --bg-color: var(--grey1000);
    --bg-color-variants: var(--grey100);
    --secondary-bg-color: var(--grey900);
    --inverted-bg-color: var(--grey0);
    --primary-color: var(--grey0);
    --primary-color-variants: var(--grey300);
    --secondary-color: var(--grey600);
    --secondary-color-variants: var(--grey0);
    --inverted-primary-color: var(--grey900);
    --inverted-secondary-color: var(--grey600);
    --accent-color: var(--purple800);
    --secondary-accent-color: var(--pink-purple400);
    --inverted-accent-color: var(--purple800);
    --text-color: var(--grey0);
    --error: var(--red);
    --success: var(--green);
}