input[type="checkbox"] {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.checkbox {
  display: inline-block;

  width: 16px;
  height: 16px;
  margin-right: 10px;

  background: transparent;
  border: 1.5px solid rgb(0 0 0 / 24%);
  border-radius: 4px;

  &--active {
    background: rgb(0 0 0 / 24%);
  }
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  max-width: 230px;
}
