.socialLinksWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.socialLinks {
  display: flex;
  gap: 6px;
  align-items: center;

  font-size: 12px;
  line-height: 16px;
  color: var(--accent-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline var(--dark-assent-color);
  }

  &:focus {
    color: var(--dark-assent-color);
  }

  &:active {
    opacity: 0.6;
  }
}

.socialLinks::before {
  content: '';

  display: block;

  width: 13px;
  height: 12px;

  color: var(--main-color);

  background-color: var(--main-color);
  background-image: url('../../../shared/assets/icons/file-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.socialLinksWrapper.socialLinksMenu {
  flex-direction: column;
}