.userProfileWrapper {
  display: flex;
  gap: 24px;
  align-items: center;
  width: 100%;
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userName {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  color: var(--text-color);
}

.socialLinksBox {
  display: block;

  @media screen and (width <= 576px) {
    display: none;
  }
}
