.modal {
  position: fixed;
  z-index: 99;

  overflow: hidden;
  overflow-y: auto;

  height: 100vh;
  padding: 30px;

  -webkit-overflow-scrolling: touch;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--primary-color-variants);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 540px;
  padding: 30px;

  background-color: var(--bg-color);
  border-radius: 20px;
}

.modalHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;

  &--withCloseBtn {
    justify-content: space-between;
  }
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 132px;
  margin-bottom: 22px;
}

.iconContainer {
  position: relative;

  width: 80px;
  height: 80px;

  background-color: var(--success);
  border-radius: 100%;

  &--error {
    background-color: var(--light-red);
  }
}

.icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.modalFooter {
  display: flex;
  justify-content: end;

  &--centered {
    justify-content: center;
  }
}
